* {
  font-size: 15px;
  color: #516191;

  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}
.container {
  max-width: 1400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

canvas {
  max-height: 25rem;
}

.small-notes {
  font-size: 13px;
  color: grey;
}


h1 {
  font-size: 2.2rem;
}
h1,
h2 {
  font-weight: 100;
}

h2 {
  font-size: 1.5rem;
  background: #def6ff;
  padding: 0.5rem 1rem;
  box-sizing: content-box;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}
.tab {
    padding: 12px 30px;
    cursor: pointer;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    font-size: 1.1rem;
    border-radius: 0;
    color: #acb6c9;
    border: 1px solid #cbcbcb;
}
.tab.active {
  background: linear-gradient(180deg, rgba(238, 255, 238, 1) 0%, rgba(184, 250, 184, 1) 100%);
  color: rgb(68 94 107)
}
.tab-content {
  display: none;
  gap: 20px;
  flex-wrap: nowrap;
}
.tab-content.active {
  display: flex;
}
.input-section {
  background: #e2f6ff;
  padding: 1rem;
  width: 235px;
}
.results-section {
  flex: 3;
  min-width: 300px;
}
.recommendation-section {
  flex: 1;
  min-width: 200px;
}

form {
  display: grid;
  gap: 10px;
}
label {
}
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
button.tab {
    background: #e6f9f4;
}
button.tab:hover {
  opacity: 0.9
}

button.tab:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
button.tab:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#results {
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #e7fbff;
}
.parameter-input-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  padding: 1rem;
  background: white;
}
.dollar-sign {
  color: #333;
}
.parameter-input-container input {
  padding: 12px;
  background: #f3f3f3;
  border: 0;
  box-sizing: border-box;
}
.parameter-input-container input:focus {
  outline: none;
}
#retirementTable th,
#retirementTable td {
  text-align: right;
}
.expense-header,
.expense-column {
  background-color: #ffeaea;
}
.income-header,
.income-column {
  background-color: #d8ffd8;
}
.balance-header,
.balance-column {
  background-color: #ecf5ff;
}

.calculator-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-section-callout {
  text-align: center;
  background: #7dc2ff;
  padding: 1rem;
}
.main-section-callout h3 {
  color: white;
  margin: 0;
  padding: 0rem 1rem;
  font-size: 1.3rem;
  line-height: 100%;
  padding-top: 1rem;
}

.large-callout-amount, .large-callout-amount span {
  font-size: 2.8rem;
  margin: 0;
  padding: 0;
  color: white;
}

button.calculate-button {
  background: linear-gradient(180deg, rgba(238, 255, 238, 1) 0%, rgba(184, 250, 184, 1) 100%);
  padding: 1rem 2rem;
  color: #16352b;
  font-size: 1rem;
  border: 0;
  border-radius: 2rem;
  box-shadow: 2px 2px 10px 0px #9d9df1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  column-gap: 7px;
}
button.calculate-button:hover {
  background: rgb(238,255,238);
  background: linear-gradient(0deg, rgba(238,255,238,1) 0%, rgba(184,250,184,1) 100%);
}


/* accordion styles */
:root {
    --main-accordion-bg-color: #e4f2ff;
  }

.accordion {
  border-left: 5px solid var(--main-accordion-bg-color);
  margin-bottom: 20px;
}
.accordion button {
    border-radius: 0;
}
.accordion-header {
  background-color: white;
  color: rgb(84, 127, 175);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid var(--main-accordion-bg-color);;
  outline: none;
  transition: 0.4s;
  position: relative;
}
.accordion-header:hover {
  background-color: var(--main-accordion-bg-color);
}
.accordion-header::after {
  content: "\25BC"; /* Unicode for down arrow */
  position: absolute;
  right: 20px;
  transition: transform 0.2s ease-out;
}
.accordion-header.active::after {
  transform: rotate(-180deg);
}
.accordion-content {
  padding: 0 20px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-content.active {
  max-height: 1000px;
  padding: 18px;
}
.accordion ul {
  padding-left: 20px;
  margin: 0;
}

.accordion li {
    line-height: 113%;
    margin-top: 1rem;
  }